.cart{
    width: 100%;
    margin: auto;
}
.cart img{
    width: 40px;
    height: 40px;
}
table{
    width: 100%;
    text-align: center;
}
table, th, td{
    border: 1px solid #000000
}
.btn{
    width: 30px;
    height: 30px;
}
