.booksItems{
    display: flex;
    flex-wrap: wrap;
}
.book{
    background: #f1f1ff;
    border: 1px solid #000;
    width: 25%;
    margin: 2%;
    text-align: center;
}
.book img {
    height: 250px;
    width: 90%;
}